<%= content_for(:title) { 'New Automation Step' } %>
<% breadcrumb :new_automation_step, @automation_template %>

<%= content_for :header do %>
  <h1 class="header__title">New Step<h1>

  <div class="clearfix"></div>
<% end %>

<div class="card">
  <div class="card-body">
    <%= render 'form', automation_step_template: @automation_step_template %>
  </div>
</div>
