<%= content_for(:title) { 'New Automation Template' } %>
<% breadcrumb :new_automation_template %>

<%= content_for :header do %>
  <h1 class="header__title">New Automation Template</h1>

  <div class="clearfix"></div>
<% end %>

<div class="card">
  <div class="card-body">
    <%= render 'form', automation_template: @automation_template %>
  </div>
</div>
