<%= content_for(:title) { 'Jobs' } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <div class='float-start'>
    <h1>Jobs</h1>
    <p>Global view of pipeline jobs</p>
  </div>

  <div class='clearfix'></div>
<% end %>

<%= render 'pipeline_jobs/jobs_table',
           jobs: @pipeline_jobs,
           show_pipeline_col: true,
           show_destination_col: true %>
