.dl-lined {
  padding-inline: 1rem;
  margin-bottom: 0;

  > dd, > dt {
    border-top: 1px solid var(--bs-border-color);
    padding: .5rem;
    margin: 0;
  }

  > dt:first-of-type + dd, > dt:first-of-type {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }

  > dt:last-of-type + dd, > dt:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
