.table {
  @include modifier('jobs') {
    font-size: .875rem;

    th, td {
      padding: .75rem;
    }
  }

  @include element('divider')  {
    td {
      padding: 0;
    }

    hr {
      margin: 0;
    }
  }

  @include element('control') {
    &:hover {
      cursor: pointer;
    }
  }
}
