<%= content_for(:title) { 'New Schedule' } %>
<% breadcrumb :new_schedule %>

<%= content_for :header do %>
  <h1 class="header__title">Create new schedule</h1>

  <div class="float-end">
    <button type="submit" class="btn btn-primary" data-form="js-schedule-form">
      Save schedule
    </button>

    <%= link_to 'Cancel', schedules_path, class: 'btn btn-outline-danger' %>
  </div>

  <div class="clearfix"></div>

<% end %>

<div class='mb-4'></div>

<%= render 'form' %>
