<div class='float-start'>
  <h3><%= page_entries_info jobs %></h3>
</div>

<div class='float-end'>
  <%= paginate jobs %>
</div>

<div class='clearfix'></div>

<div class='card'>
  <div class="table-responsive">
    <table class="table table-borderless table--jobs">
      <thead>
        <tr class='table-primary'>
          <% if show_pipeline_col %>
            <th scope="col">Pipeline</th>
          <% end %>
          <th scope="col">Job</th>
          <th scope="col">Status</th>
          <th scope="col">Run by</th>
          <% if show_destination_col %>
            <th scope="col">Destination</th>
          <% end %>
          <th scope="col">Time started</th>
          <th scope="col">Duration</th>
          <th scope="col">Pages</th>
          <th scope="col">Transform</th>
          <th scope="col">Load</th>
          <th scope="col">Reject</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% total_jobs = jobs.size %>
        <% jobs.each.with_index(1) do |job, job_idx| %>
          <% job.harvest_definitions_to_run.zip(job.harvest_reports).each do |definition_id, report| %>
            <%= render 'pipeline_jobs/job_row',
                       job: job,
                       report: report,
                       harvest_definition: HarvestDefinition.find(definition_id),
                       show_pipeline_col: show_pipeline_col,
                       show_destination_col: show_destination_col %>
          <% end %>
          <% if job_idx != total_jobs %>
            <tr class='table__divider'>
              <td colspan='<%= 10 + (show_pipeline_col ? 1 : 0) + (show_destination_col ? 1 : 0) %>'><hr></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
